<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="blkEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <userSettings>
    <blkEditor.Properties.Settings>
      <setting name="txtProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="cbxCategoryLevel1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cbxCategoryLevel2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cbxCategoryLevel3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="txtProductDetail" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductSpec" serializeAs="String">
        <value />
      </setting>
      <setting name="dgvProductSpecTable" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductNote" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductDownload" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductRelate" serializeAs="String">
        <value />
      </setting>
      <setting name="rbtGuaranteeNone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rbtGuaranteeSupport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rbtGuarantee6Month" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rbtGuarantee12Month" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkGuaranteeDiamond" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtProductKeyword" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductPicture" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductVideo" serializeAs="String">
        <value />
      </setting>
      <setting name="chkUserName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="chkUserDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="style" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="chkGetImageProfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkAddToListImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cbxFileDriveListOrderBy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lbxProductNameRequestList" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lbxProductNameDoneList" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rbtAddHtmlToDescription" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rbtAddHtmlToContent" serializeAs="String">
        <value>True</value>
      </setting>
    </blkEditor.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.43.0.0" newVersion="1.43.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.43.0.0" newVersion="1.43.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
